@import '../utilities/variables';
@import '../utilities/base';

input[type=submit]{
  border: none;
}

.reminders{
  text-align: center;
  ul{
    margin: 0px;
    display: inline-block;
    text-align: left;
  }
}